.margin-10{
	margin-top: 5px;
	margin-bottom: 5px;
}

.info_client{
	margin-bottom: 15px;
}

.info_client{
	background: #eee;
}

.indicatif{
	display: inline-block;
	width: 150px;
	font-size: 16px;
}

.deux-point{
	font-size: 16px;
}

.result{
	font-weight: bold;
	margin-left: 5px;
}

.center-horizontal{
	text-align: center;
}

.status{
	font-size: 24px;
	color: #993434;
	font-weight: bold;
}

.margin-bottom-20{
	margin-bottom: 20px;
}

.padding-10{
	padding-top: 10px;
	padding-bottom: 10px;
}

.input-group
{
	width:100%;
}
