@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helveticaNeueLTStd.otf');
}

p, h1, h2, h3, h4, h5, h6, a, button, table, ul, ol, li, label, a, input{
    font-family: 'FontAwesome1';
}

.menu_with_ic{
    font-family: 'helvetica-neue';
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
}