
#example_wrapper{
	text-align: right;
}
#example_length, #example_info, .table
{
	text-align: left;
}
.input-group
{
	width:100%;
}

thead th{
	cursor: pointer;
}


.date-dropdowns select{
	margin: 0px 2px;
}
