.dropdown-toggle{
	padding-top: 5%  !important;
	padding-bottom: 5%  !important;
	margin: 0px;
	display: inline-block; width: 70px;
	width: 100%;
	text-align: center;
}

.dropdown {
	padding: 0px;
	padding: 0px !important;
}

.dropdown-toggle  img{
	border-radius: 50%;
	border: 1px green solid;
}

.navbar-bottom{
	margin-bottom: 0;
}
.img-navbar{
	border-radius: 50%;
	border: 1px green solid;
	margin-right:5px;
}
.img-dropdown {
    visibility: visible !important;
}

.list-dropdown {
	display: inline-block;
    height: 0px;
    width: 0px;
    visibility: hidden !important;
}

@media screen and (max-width: 766px) {

	.img-dropdown {
		display: inline-block;
	    visibility: visible !important;
	    height: 0px;
	    overflow: hidden;
	}

	.list-dropdown {
		width: 100%;
		height: 100%;
	    visibility: visible !important;
	}
}

.hand:hover{
	cursor: hand;
}

nav{
	margin-bottom: 1px !important;
}